*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
body{
    width: 100%;
    padding:90px;
    font-family:'Poppins',sans-serif;
    background:#efe2d0;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    width: 95%;
    max-width: 1590px;
    margin: 30px auto;
    background:#f7eddc;
    padding:40px;
    border-radius:60px;
    position:relative;
    overflow:hidden;
    box-shadow:
    0 10px 40px rgba(190, 0, 0, 0.08);
}

.container::before{
    content:"";
    position:absolute;
    width:350px;
    height:350px;
    top:-180px;
    left:-180px;
    background:#7b0f1d;
    border-radius:100%;
}

.container::after{
    content:"";
    position:absolute;
    width:300px;
    height:300px;
    bottom:-180px;
    right:-180px;
    background:#7b0f1d;
    border-radius:100%;
}

h1{
    text-align:center;
    font-size:5rem;
    font-family:'Cormorant Garamond', serif;
    color:#7b0f1d;
    margin-bottom:5px;
    position:relative;
}

.linha-decorada{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    color:#7b0f1d;
    margin-bottom:20px;
    position:relative;
}

.linha-decorada span{
    width:180px;
    height:2px;
    background:#c6a88d;
}


.cards{
    display:flex;
    justify-content:center;
    gap:35px;
    flex-wrap:wrap;
    position:relative;
    
}
.card{
    width:420px;
    position:relative;
}
.icone{
    width:110px;
    height:110px;
    border-radius:50%;
    background:#fcf7f1;
    border:3px solid #d6b89b;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    position:relative;
    top:55px;
    overflow:hidden;
}
.icone img{
    width:60px;
    height:60px;
    object-fit:contain;
}

.card h2{
    background:#fcf7f1;
    border:2px solid #d6b89b;
    border-radius:20px 20px 0 0;
    text-align:center;
    padding-top:70px;
    padding-bottom:25px;
    color:#7b0f1d;
    font-family:'Cormorant Garamond', serif;
    font-size:2.5rem;
}

.conteudo{
    background:#7b0f1d;
    color:white;
    min-height:220px;
    border-radius:0 0 20px 20px;
    padding:25px;
    position:relative;
    display:flex;
    align-items:center;
}
.conteudo p{
    text-align:center;
    line-height:1.5;
    font-size:1.3rem;
}

.enfeite{
    position:absolute;
    top:25px;
    left:50%;
    transform:translateX(-50%);
    width:180px;
    height:2px;
    background:#d6b89b;
}

@media(max-width:1200px){

    body{
        padding:40px;
    }

    h1{
        font-size:4rem;
    }

    .card{
        width:100%;
        max-width:500px;
    }
}

@media(max-width:768px){

    body{
        padding:20px;
    }

    .container{
        padding:30px;
    }

    h1{
        font-size:3rem;
    }

    .card h2{
        font-size:2.2rem;
    }

    .frase{
        font-size:1.5rem;
    }

    .conteudo p{
        font-size:1.2rem;
    }
}

@media(max-width:480px){

    .container{
        padding:20px 12px;
        border-radius:40px;
    }

    h1{
        font-size:2.4rem;
    }

    .linha-decorada span{
        width:100px;
    }

    .card h2{
        font-size:2rem;
        padding-top:60px;
        padding-bottom:18px;
    }

    .conteudo{
        min-height:180px;
        padding:20px 16px;
    }

    .conteudo p{
        font-size:1.1rem;
    }

    .icone{
        width:90px;
        height:90px;
        top:45px;
    }

    .icone img{
        width:50px;
        height:50px;
    }
}