*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#eee4d1;
    font-family:Georgia, serif;
    color:#4b3f35;
}

nav{
    width:80%;
    margin:30px auto;
    background:#6b0101;
    padding:20px;
    border-radius:40px;

    display:flex;
    justify-content:space-around;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.container{ 
    width:85%; 
    margin:20px auto; 
    background:#f7eddc; 
    border-radius:30px; 
    padding:25px; 
    margin-bottom:40px;

    border:2px solid #7a0000;
    box-shadow:0 8px 25px rgba(122, 0, 0, 0.10);
}


.hero{
    display:flex;
    gap:40px;
    align-items:center;
}

.foto img{
    width:450px;
    border-radius:25px;
    object-fit:cover;
}

.texto{
    flex:1;
}

.flor{
    font-size:35px;
}

.texto h1{
    color:#6e0101;
    font-size:60px;
    margin:10px 0;
}

.frase{
    font-style:italic;
    color:#7a0000;
    margin-bottom:20px;
    font-size:22px;
}

.texto p{
    margin-bottom:15px;
    line-height:1.7;
}

.cards{
    margin-top:50px;

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

.card{ 
    background:#fffaf2; 
    padding:20px; 
    border-radius:25px; 
    box-shadow:0 5px 15px rgba(122, 0, 0, 0.08);
    
    transition:0.3s;
}

.card:hover{
    transform:translateY(-4px);
    box-shadow:0 8px 20px rgba(122, 0, 0, 0.15);
}

.frase{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.card i{
    color:#7a0000;
    font-size:30px;
}

.card h2{
    color:#7a0000;
    margin:15px 0;
}

.card ul{
    padding-left:20px;
}

.card li{
    margin-bottom:10px;
}

.trajetoria{
    margin-top:50px;
}

.trajetoria h2{
    color:#7a0000;
    margin-bottom:25px;
}

.linha{
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.item{ 
    background:#f1e6d6; 
    padding:25px; 
    border-radius:20px; 
    flex:1;

    border:1px solid #e2cfc0;
}
.item h3{
    color:#7a0000;
    margin-bottom:10px;
}

.citacao{
    margin-top:40px;
    background:#f7f1e7;
    padding:40px;
    border-radius:25px;
    text-align:center;
}

blockquote{
    color:#7a0000;
    font-size:24px;
    font-style:italic;
}

@media(max-width:900px){

    .hero{
        flex-direction:column;
    }

    .foto img{
        width:100%;
    }

    .cards{
        grid-template-columns:1fr;
    }

    .linha{
        flex-direction:column;
    }
}